/* ====================================================================================================
                                        Extra Small Device
====================================================================================================== */
@media(max-width: 575.98px){
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  button:focus {
    outline: 0;
  }
  .navbar{
    z-index: 9999;
  }
  .navbar-toggler i{
    color: #43cb83;
    font-size: 28px;
  }
  .navbar-collapse {
    text-align: center;
    background: #fdf6ee;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .apply-btn{
    margin-top: 20px;
  }
  #banner {
    padding-top: 90px;
    padding-bottom: 300px;
  }
  .banner-content h1{
    font-size: 34px;
  }
  .banner-content p{
    font-size: 16px;
  }
  .about-content h2{
    margin-top: 20px;
  }
  .apply-form {
    position: relative;
    top: 0;
  }
  #apply{
    padding: 100px 0;
  }
  .apply-content{
    text-align: center;
    margin-bottom: 30px;
  }
  .news-post{
    text-align: center;
    margin-top: 20px;
  }
  .news-post a{
    position: relative;
    bottom: 0;
  }
  #news {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .footer-icon{
    padding-bottom: 20px;
  }
  .footer-content h6{
    margin-bottom: 25px;
  }
  #footer {
    padding-bottom: 50px;
  }
  .copyright p{
    text-align: center;
  }
  .link{
    text-align: center;
  }
  .shape-one img{
    display: none;
  }
  @media(width:320px){
    .title h2{
      font-size: 37px;
    }
    .online-part h4 {
      left: 22px;
    }
    .play-btn i{
      font-size: 20px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    .apply-form .btn {
      font-size: 12px;
      padding: 10px 24px;
  }
  .news-content h6{
    font-size: 38px;
  }
 }
}
/* =======================================================================================================
                                                  Small Device
========================================================================================================= */
@media(min-width:576px) and (max-width:767.98px){
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  button:focus {
    outline: 0;
  }
  .navbar{
    z-index: 9999;
  }
  .navbar-toggler i{
    color: #43cb83;
    font-size: 28px;
  }
  .navbar-collapse {
    text-align: center;
    background: #fdf6ee;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .apply-btn{
    margin-top: 20px;
  }
  .shape-one img{
    display: none;
  }
  #banner {
    padding-top: 90px;
    padding-bottom: 300px;
  }
  .banner-content h1{
    font-size: 34px;
  }
  .banner-content p{
    font-size: 16px;
  }
  .about-content h2{
    margin-top: 20px;
  }
  .apply-form {
    position: relative;
    top: 0;
  }
  #apply{
    padding: 100px 0;
  }
  .apply-content{
    text-align: center;
    margin-bottom: 30px;
  }
  .news-post{
    text-align: center;
    margin-top: 20px;
  }
  .news-post a{
    position: relative;
    bottom: 0;
  }
  #news {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  #footer {
    padding-bottom: 50px;
  }
  .copyright p{
    text-align: center;
  }
  .link{
    text-align: center;
  }
}
/* =======================================================================================================
                                                Medium Device 
==========================================================================================================*/
@media(min-width:768px) and (max-width:991.98px){
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  button:focus {
    outline: 0;
  }
  .navbar{
    z-index: 9999;
  }
  .navbar-toggler i{
    color: #43cb83;
    font-size: 28px;
  }
  .navbar-collapse {
    text-align: center;
    background: #fdf6ee;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  #banner {
    padding-top: 90px;
    padding-bottom: 300px;
  }
  .about-content h2{
    margin-top: 20px;
  }
  .apply-form {
    position: relative;
    top: 0;
  }
  #apply{
    padding: 100px 0;
  }
  .apply-content{
    text-align: center;
    margin-bottom: 30px;
  }
  .news-post{
    text-align: center;
    margin-top: 20px;
  }
  .news-post a{
    position: relative;
    bottom: 0;
  }
  #news {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  #footer {
    padding-bottom: 50px;
  }
  .copyright p{
    text-align: center;
  }
  .link{
    text-align: center;
  }
  .shape-one img{
    display: none;
  }
}
/* =================================================================================================
                                             Large Device
==================================================================================================== */
@media(min-width:992px) and (max-width:1199.98px){
  #banner {
    padding-top: 150px;
    padding-bottom: 315px;
  }
  .apply-form {
    top: -229px;
    left: -25px;
}
  .shape-one img{
    display: none;
  }
}